.btn-color {
    background-color: rgb(152, 33, 118);
}

body {
    font-family: 'Roboto';
}

nav {
    background-color: rgb(31, 40, 60);
    color: white;
    background-image: url('media/libsheader.png');
    background-size: contain;
    background: rgb(25, 28, 30);
    background: -moz-linear-gradient(180deg, rgba(25, 28, 30, 1) 0%, rgba(6, 47, 99, 1) 90%, rgba(5, 41, 84, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(25, 28, 30, 1) 0%, rgba(6, 47, 99, 1) 90%, rgba(5, 41, 84, 1) 100%);
    background: linear-gradient(180deg, rgba(25, 28, 30, 1) 0%, rgba(6, 47, 99, 1) 90%, rgba(5, 41, 84, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191c1e", endColorstr="#052954", GradientType=1);
    
    .navbar-brand {
        color: wheat;
        padding-top: 15px;
        margin: 0px;
        font-size: 1rem;
        &:hover{
            color: aqua;
        }
    }

}

.nav-link {
    color: wheat;
    align-items: center;

    &:hover {
        color: brown;
        text-decoration: underline;
        text-underline-offset: 6px;
    }
}

.mynav-items {
    align-self: flex-end;
    justify-self: right;
    margin-left: 40rem;
}

.favic {
    width: 48px;
    height: 48px;
}


.section-2 {
    position: relative;
}

.section-2-btn {
    width: 12rem;
    height: 2rem;
    /* margin: 2vh 5vw 0vh 10vw; */
    border-radius: 2.8125rem;
    background: #D9D9D9;
    margin-top: .2rem;
    margin-left: 13rem;
    font-size: 1rem;
    text-align: center;
    padding: .1rem;
}

.anchor {
    display: block;
    height: 10vh;
    /*same height as header*/
    margin-top: -10vh;
    /*same height as header*/
    visibility: hidden;
}

.next {
    align-self: center;
}

.section-2-btn-next {

    margin-top: 0rem;
    margin-left: 50rem;
    border-radius: 5rem;
    background: #D9D9D9;
    display: flex;
    width: 12rem;
    height: 3rem;
    justify-content: center;
}

.graphContainer {
    width: 80rem;
    height: 35rem;
    margin-left: 10%;
    margin-bottom: 0px;
    border-radius: 5rem;
    width: 100%;
    max-width: 600px;
    height: 500px;
}

#form_file_input {
    visibility: hidden;
    width: 0px;
    max-width: 0px;
    height: 0px;
    max-height: 0px;
}

#file {
    visibility: hidden;
    width: 0px;
    max-width: 0px;
    height: 0px;
    max-height: 0px;
}

/* styles.css */
.periodic-table-main {
    width: 80rem;
    height: 30rem;
    margin-left:5%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(18, 1fr); /* Adjust columns as needed */
    gap: 10px; /* Adjust gap between elements */
  }
  
  .element {
    position: relative;
    width: 50px; /* Adjust element size */
    height: 50px;
    background-color: #ccc;
    border: 1px solid #888;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    cursor: pointer;
    word-break: break-word;
    text-overflow: ellipsis;
  }
  
  .element.selected {
    background-color: #3498db; /* Selected color */
    color: #fff;
    /* Add any additional styling for the selected state */
  }
  

section {
    height: 100vh;
    width: 100vw;
    background: rgb(5, 9, 44);
    background: url('/static/media/bgtrans.png'), linear-gradient(45deg, rgba(6, 77, 143, 1) 0%, rgba(6, 47, 99, 1) 72%, rgba(5, 9, 44, 1) 100%);
    background-size: cover;
    background-blend-mode: multiply;
}
.section-3{
    & h2 {
        color: white;
    }
}

#secion1 {
    height: 92vh;
    width: 98.9vw;
    background: rgb(5, 9, 44);
    background: url('/static/media/bgtrans.png'), linear-gradient(45deg, rgba(6, 77, 143, 1) 0%, rgba(6, 47, 99, 1) 72%, rgba(5, 9, 44, 1) 100%);
    background-size: cover;
    background-blend-mode: multiply;
}

.startcite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;

    .start {
        &:hover {
            background-color: green;
            border-radius: 10%;
        }
    }

    .cite {
        color: white;
        border-color: aqua;

        &:hover {
            background-color: aqua;
        }
    }
}

#test {
    width: 1536px;
    height: 450px;
}



.periodic-table {
    
    .element[data-id="2"] {
        grid-column-start: 18;
    }
    .element[data-id="5"] {
        grid-column-start: 13;
    }
    .element[data-id="13"] {
        grid-column-start: 13;
    }
    
}
.passive-periodic {

    grid-column: 4 / span 13;
    grid-row: 8;
    display: grid;     
    grid-template-columns: repeat(14, 1fr);
}

.element {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    
    &:checked {
        color: red;
    }
}

.submit-btn{
    left: 80%;
    top: 80%;
    margin-left: 80%;
    margin-top: 1.5%;
    background-color: rgba(0, 51, 102, 1);
    color: rgba(0, 102, 255, 1);
    border-radius: 10%;
    &:hover {
        color:green;
        background-color: aquamarine;
        border:0px;
        
    }
    &:focus {
        outline: 2px;
    }
}