{% extends "layout.html" %}
{% block content%}
<main class="mt-0 mb-0">
  <section class="main-section-1" id="secion1">
    <div class="pt-4">
      <h1 style="font-size:5vw" class="text-center text-light fw-bolder">LIBS ANALYZER</h1>
    </div>
    <div class="startcite"> 
        <div class="p-2"><a class="btn btn-lg btn-color fw-bold start" href="#section-2">GET
            STARTED</a></div>
        <div class="p-2"><a class="btn btn-sm cite" href="#">Cite Us!</a></div>
      </div>
  </section>

<section id="section-2" class="section-2">
<form action="/" method="POST" enctype=multipart/form-data >
  {{form.hidden_tag()}}
  {{form.lower_wave.label()}}
  {{form.lower_wave}} <br>
  {% if form.lower_wave.errors %}
          <div class="invalid-feedback">
            {% for error in form.lower_wave.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div> 
          <br><br>                               
  {% endif %}

  {{form.upper_wave.label()}}
  {{form.upper_wave}} <br>
  {% if form.upper_wave.errors %}
          <div class="invalid-feedback">
            {% for error in form.upper_wave.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
          <br><br>                                    
  {% endif %}

  {{form.baseline_intensity.label()}}
  {{form.baseline_intensity}} <br>
  {% if form.baseline_intensity.errors %}
          <div class="invalid-feedback">
            {% for error in form.baseline_intensity.errors %}
                <span>{{ error }}</span>
            {% endfor %}
            </div>
            <br><br>          
  {% endif %}

  <span class="anchor" id="s_section-3"></span>
    <div class="d-flex flex-column s2">
      <div class="p-0">
        {{form.input_file(id = 'file',onchange="plotGraph()")}}
        
        <button type ="button" id="file_input" onclick="clickHandler()" 
        class="btn btn-lg section-2-btn" style="color: #000000 ;">Input
          Spectral Data</button>
      </div>
      <div class="p-0">
        <div class="graphc"><div id="graphContainer"></div></div>
      </div>
      <div id="test"></div>
      <div class="p-0">
        <button type= 'button' class="btn btn-lg section-2-btn-next" style="color: #000000 ;">NEXT</button>
      </div>
        
    </div>
  </section>

  
  <section class="section-2" id = "section-2">
    
    {{form.r_cutoff.label()}}
    {{form.r_cutoff}} <br>
    {% if form.r_cutoff.errors %}
          <div class="invalid-feedback">
            {% for error in form.r_cutoff.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
          <br><br>             
    {% endif %}

    {{form.l_cutoff.label()}}
    {{form.l_cutoff}} <br>
    {% if form.l_cutoff.errors %}
          <div class="invalid-feedback">
            err
            {% for error in form.l_cutoff.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
          <br><br>   
    {% endif %}

    {{form.n_peaks.label()}}
    {{form.n_peaks}} <br>
    {% if form.n_peaks.errors %}
          <div class="invalid-feedback">
            {% for error in form.n_peaks.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
          <br><br>                        
    {% endif %}
  
    <span>Search for Persistant</span> {{form.PS}}
    {% if form.PS.errors %}
          <div class="invalid-feedback">
            {% for error in form.PS.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
          <br><br>                        
    {% endif %}
  </section>

  <section class="section-3" id = "section-3">
    <h2>Element Selector</h2>
    {{form.selected_elements.label}}
    <br>
    {{form.selected_elements()}}
    <br>
    <br>
    {{form.submit}}
  </section>
  
</form>
</main>
{% endblock content%}


{% block JScript%}
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
<script>
  function clickHandler() {
    document.getElementById('file').click()
  }
  let element = document.getElementById('file_input')
</script>
<script src="{{url_for('static', filename='plot.js')}}"></script>

{% endblock JScript%}