{% extends "layout.html" %}
{% block content%}
<main class="mt-0 mb-0">
  <section class="main-section-1" id="secion1">
    <div class="pt-4">
      <h1 style="font-size:5vw" class="text-center text-light fw-bolder">LIBS ANALYZER</h1>
    </div>
    <div class="startcite"> 
        <div class="p-2"><a class="btn btn-lg btn-color fw-bold start" href="#section-2">GET
            STARTED</a></div>
        <div class="p-2"><a class="btn btn-sm cite" href="#">Cite Us!</a></div>
      </div>
  </section>

<section id="section-2" class="section-2">
<form action="/" method="POST" enctype=multipart/form-data >
  {{form.hidden_tag()}}

 
  <span class="anchor" id="s_section-3"></span>
    <div class="d-flex flex-column s2">
      <div class="p-0">
        {{form.input_file(id = 'file',onchange="plotGraph()")}}
        
        <button type ="button" id="file_input" onclick="clickHandler()" 
        class="btn btn-lg section-2-btn" style="color: #000000 ;">Input
          Spectral Data</button>
      </div>
      <div class="p-0">
        <div class="graphc">
          <div id="graphContainer"></div>
          <div class="parameters-page1">
            {{form.lower_wave(placeholder=form.lower_wave.label.text)}}
            {% if form.lower_wave.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.lower_wave.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                    </div> 
                    <br><br>                               
            {% endif %}
        
            <img src="{{url_for('static', filename='assets/lambda_l.svg')}}" alt="">
          {{form.upper_wave(placeholder=form.upper_wave.label.text)}}
          {% if form.upper_wave.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.upper_wave.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  <br><br>                   
          {% endif %}
          <img src="{{url_for('static', filename='assets/lambda_r.svg')}}" alt="">
          {{form.baseline_intensity(placeholder=form.baseline_intensity.label.text)}}
          {% if form.baseline_intensity.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.baseline_intensity.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    <br><br>          
          {% endif %}
          <img src="{{url_for('static', filename='assets/threshold_2.svg')}}" alt="">
        </div>
        </div>
      </div>
      <div class="p-0" >
        <button type="button"  onclick="document.getElementById('section-3').scrollIntoView()"  class="btn btn-lg section-2-btn-next"> <a style="text-decoration: none;" href="#section-3">NEXT</a></button>
      </div>
        
    </div>
  </section>



  <section class="section-3" id = "section-3">
    <h2>Element Selector</h2>

    <div class="periodic-table">
      
    <div class="periodic-table-main">
      <div class="parameter-page2">
        <div class="cutoff">
          {{form.l_cutoff(class='left-cutoff',placeholder=form.l_cutoff.label.text)}}
          {% if form.l_cutoff.errors %}
                <div class="invalid-feedback">
                  {% for error in form.l_cutoff.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
          {% endif %}
          <img src="{{ url_for('static', filename='assets/errorlimits.svg') }}" alt="">
          {{form.r_cutoff(class='right-cutoff', placeholder=form.r_cutoff.label.text )}}
          {% if form.r_cutoff.errors %}
                <div class="invalid-feedback">
                  {% for error in form.r_cutoff.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>             
          {% endif %}
        </div>
      <div class="n_peaks">
        <img src="{{ url_for('static', filename='assets/npeaks.svg') }}" alt="icon for no. of peaks">
        {{form.n_peaks(class='npeaks',placeholder = form.n_peaks.label.text)}} <br>
        {% if form.n_peaks.errors %}
              <div class="invalid-feedback">
                {% for error in form.n_peaks.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
              </div>          
        {% endif %}
      </div>
      
      <div class="pors">
        <span>Search for Persistant</span> {{form.PS}}
        {% if form.PS.errors %}
              <div class="invalid-feedback">
                {% for error in form.PS.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
              </div>                  
        {% endif %}
      </div>
      </div>
      <!-- Generate the select options using Flask-WTF -->
      {% for field in form.selected_elements %}
        {% if (loop.index in range(1,58)) or (loop.index in range(72,90)) or (loop.index in range(104,119) )%}
          <div class="element main {{ 'selected' if field.data }} " data-symbol="{{ field.label.text }}" data-id="{{ loop.index }}">{{ field(class='select-entries') }}</div>
        {% endif %}
        {% endfor %}
        <div class="passive-periodic">
        {% for field in form.selected_elements %}
        {% if (loop.index in range(58,72)) or (loop.index in range(90,104))%}
          <div class="element {{ 'selected' if field.data }} {{ 'act' if loop.index in range(90,104) else 'lanth' }}" data-symbol="{{ field.label.text }} " data-id="{{ loop.index }}">{{ field(class='select-entries') }}</div>
        {% endif %}
      {% endfor %}
    </div>
    </div>
  </div>
  <div id="form-select-elements" hidden>
    {{form.selected_elements.label}}
    <br>
    {{form.selected_elements(id = "form-elements")}}
    <br>
  </div>
    <br>
    <br>
    {{form.submit(class='submit-btn')}}
  </section>
  
</form>
</main>
{% endblock content%}


{% block JScript%}
<script>
  const element = Array.from(document.getElementsByClassName('select-entries'));
  element.forEach(
    entries =>{console.log(entries.value);
    entries.innerHTML = entries.value;
    }
  );
  </script>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
<script>
  function clickHandler() {
    document.getElementById('file').click();
  }
</script>
<script src="{{url_for('static', filename='plot.js')}}"></script>
<script>
  const elements = document.querySelectorAll('.element');
  elements.forEach(element => {
    element.addEventListener('click', () => {
      element.classList.toggle('selected');
      var optionsToSelect = element.getAttribute("data-symbol");
      var select = document.getElementById( 'form-elements' );
      console.log(element.getAttribute("data-id"));
      for ( var i = 0, l = select.options.length; i < l; i++ ){
        o = select.options[i];
        if ( optionsToSelect.indexOf( o.text ) != -1 ){
          if (o.selected){
            o.selected = false;
            break;
          }
          o.selected= true;
          break;
        }
      }
    });
  });
</script>

{% endblock JScript%}